*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
	text-align: center;
}

body {
	padding-block: 100px;
}

button {
	flex-basis: 401px;
	display: block;
	background: white;
	height: 160px;
	cursor: pointer;
	border: 3px solid black;
	&:hover {
		filter: brightness(0.9);
	}
}

ul {
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 100%;
}

li {
	border: 1px solid black;
}

.map {
	display: flex;
	max-width: 1200px;
	row-gap: 5px;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 50px;
	margin-inline: auto;
}

.livre {
	background-color: rgb(135, 255, 135);
}

.ocupada {
	background-color: rgb(255, 135, 135);
}

.dica {
	border: 1px solid blue;
	display: inline-block;
	padding: 10px 20px;
	margin-block: 15px;
}

@media only screen and (max-width: 810px) {
	button {
		flex-basis: calc(50vw - 5px);
	}
	.map {
		gap: 5px;
		margin-inline: 2px;
	}
}

